<a href="https://colab.research.google.com/github/Navaneethp0/star-patten/blob/main/star_pattern1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for row in range(7):
  for col in range(7):
    if row==0 or row==6 or col==0 or col==6 or col+row==3 or col-row==3 or row-col==3 or  col+row==9:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * * * *
*   *   *   *
* *       * *
*           *
* *       * *
*   *   *   *
* * * * * * *

In [ ]:
n=int(input("enter how many rows: "))
for i in range(n):
  for j in range(i+1):
    print('*',end=' ')
  print()

enter how many rows: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    print("*",end=" ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n=6
for i in range(1,n+1):
  for j in range(1,n+1):
    print("#",end=" ")
  print()

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    print("*",end=" ")

  print()
for i in range(2,n+1):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(2*i-1):
    print("*",end=" ")
  print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(n-i):
    print(" ",end=" ")
  for j in range(i,0,-1):
    print("*",end=" ")
  print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for row in range(4):
  for col in range(7):
    if row==3 or row+col==3 or col-row==3:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
    *   *
  *       *
* * * * * * *

In [ ]:
for row in range(5):
  for col in range(5):
    if row+col==2 or col-row==2 or row-col==2 or row+col==6:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

    *
  *   *
*       *
  *   *
    *